@import 'variables.scss';
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/v4-shims";



body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

div.hidden {
  display: none;
}


.todo-component {
  width: 50%;
  max-width: 50%;
  font-size: 18px;
  &__header-container {
    border: lightgrey 1px solid;
  }
  &__header-title {
    background: rgb(238,239,239);
    background: linear-gradient(180deg, rgba(238,239,239,1) 0%, rgba(213,235,235,1) 50%, rgba(238,239,239,1) 100%);
    margin-right: auto;
    margin-left:  auto;
    padding:  1em;
    border: lightgrey 1px solid;
  }
  &__header-input {
    display: grid;
    grid-template-columns: 95% auto;
    margin-right: auto;
    margin-left:  auto;
    padding: 1.5em;
  }
  &__content-container {

  }
  &__content-entry {

  }
  input {
    font-size: 18px;
  }
}

.entry-readonly {
  display: grid;
  grid-template-columns: 90% auto auto;
  margin-right: auto;
  margin-left:  auto;
  padding: 1em 1.5em;
  border: lightgrey 1px solid;
}

.entry-editable {
  display: grid;
  grid-template-columns: 95% auto;
  margin-right: auto;
  margin-left:  auto;
  padding: 1em 1.5em;
  border: lightgrey 1px solid;
 }

div.todo-component button {
  height: 27px;
  color: white;
  &#new-todo-add {
    background: $postiveButtonColor;
  }
  &.delete-button {
    background: $negativeButtonColor;
  }
  &.edit-button {
    background: $neutralButtonColor;
  }
  &.confirm-button {
    background: $postiveButtonColor;

  }
}

